body{
    margin: 0;
    padding:0;
    font-family: "roboto", neo-grotesque , sans-serif;
}

ul{
    list-style-type: none;
    margin:0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}

.header{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bolder;

}

.headerFirstChild{
    padding-left: 100px;
}

.headerSecondChild{
    display:flex;
    gap:40px;
    padding-right: 100px;
}

.sectionOne{
    height: 33%;
    background-color: #1F2937;
    color: white;
    display:flex;
    padding: 100px 15% 100px 15%;
    gap: 50px;
}

.sectionOneFirstChild{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.title{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

.sectionOneSecondChild{
    background-color: rgb(95, 94, 94);
    width: 700px;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    }


#sectionOneButton{
    background-color: #1257c7;
    border: #1257c7;
    border-radius: 5px;
    width: fit-content;
    padding:5px 12px 5px 12px;
    color: white;
    font-weight: bold;
}

.sectionTwo{
    height: 25%;
    padding: 100px 0px 100px 0px;
}

.sectionTwoFirstChild{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 50px;
}

#imageHolder{
    height: 150px;
    width: 150px;
    border: solid;
    border-color: blue;
    border-radius: 20px;
}

 #imageText{
    width: 150px;
    text-align: center;
 }

.sectionTwoSecondChild{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.sectionThree{
    background-color: #E5E7EB;
    padding: 100px 20% 100px 20%;
}

.sectionThreeFirstChild{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    align-items: center;
    font-weight: 100;
}

.sectionThreeSecondChild{
    font-weight: bold;
    font-size: larger;
    text-align: right;
}

.sectionFour{
    padding: 70px 10% 70px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sectionFourContainer{
    background-color: #1257c7;
    padding: 30px 80px 30px 80px;
    border-radius: 10px;
    display: flex;
    gap:30%;
    width: 70%;
}

.actionMainText{
    color: #E5E7EB;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin:0;
}

.actionSubtext{
    color: #E5E7EB;
    padding: 0;
    margin: 0;
}

#sectionFourButton{
    background-color: #1257c7;
    border: solid;
    border-color: white;
    border-radius: 5px;
    border-width: 0.1ch;
    width: fit-content;
    padding:5px 12px 5px 12px;
    color: white;
    font-weight: bold;
    align-self: center;
}